.counter {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
}

.counter strong {
    display: block;
    font-size: 2em;
}

.counter .vote,
.counter .answer {
    width: 60px;
    height: 60px;
}

.counter .status.unanswered {
    border: none;
}

.counter .status.answered {
    border: 1px solid #5fbb7e;
    color: #5fbb7e;
}

.counter .status.answered-accepted {
    background: #5fbb7e;
    color: #fff;
}

.counter.view {
    margin-top: 10px;
}
.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: #495057;
  }
  
  .vote-controls span,
  .vote-controls a {
    display: block;
  }
  
  .vote-controls span.votes-count {
    font-size: 25px;
  }
  
  .vote-controls span.favorites-count {
    font-size: 12px;
  }
  
  .vote-controls a {
    cursor: pointer;
    color: #6c757d;
  }
  
  .vote-controls a.off,
  .vote-controls a.off:hover {
    color: #adb5bd;
  }
  
  .vote-controls a.favorite.favorited,
  .vote-controls a.favorite.favorited:hover {
    color: #ffc107;
  }
  
  .vote-controls a.vote-accepted {
    color: #28a745 !important;
  }